//
// Reset
// --------------------------------------------------

@import "normalize";

div,header,footer,article,section,figure,h1,h2,h3,h4,p,ul,ol,li,input,area,small,table,td,th,dl,dt,dd {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

ul,ol {
    list-style: none;
}