block vars

doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='#{SITE.VIEWPORT}')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge, chrome=1')
        include _inc/_meta
        block css
            link(rel="stylesheet" href='/css/style.css')
    body
        header.Header
            h1.Logo
                a(href='/') #{SITE_NAME}
            include _inc/_nav

        .Container
            block content

        footer.Footer
            p.copyright
                samll © #{SITE_NAME}

        block script