extend _layout
block vars
    //- use at _inc/_meta
    - var metaTitle = SITE_NAME
    - var metaDesc = 'Jade test'
    - var metaKeys = 'jade, html'
    - var ogUrl = 'http://example.com'
    
block content
    p Hellow World
    
block script
    script(async src='/js/bundle.js')