extend _layout
block vars
    - var page = { code: 'top'}

block css
    link(rel="stylesheet" href='/css/style.css')

block header
    header.Header.clear
        h1.Logo
            a(href='/') #{SITE_NAME}
        include _inc/_nav

block content
    p Hellow World

block footer
    footer.Footer
        p.copyright
            samll © #{SITE_NAME}

block script
    script(src='/js/bundle.js')