//
// Extends
// --------------------------------------------------

%clear {
    @include clear;
}

%center {
    width: $siteWidth;
    margin-left: auto;
    margin-right: auto;
    @include clear;
}
