//
// Variables
// --------------------------------------------------

// font-family

// 日本語
$fontHiragino : 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$fontMincho : 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;

// 英数
$fontArial: Arial, Helvetica, sans-serif;

// path
$bgimg : '../img/';

// color
$fontColor: #000;
$keyColor: ;
$linkColor: ;

// font-size
$fontSize: 14px;

// line-hight
$lineHeight : 1.8;

$siteWidth : 960px;